<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="CSS/index-style.css">
  </head>
  <body>
    <div class="overlay"></div>
    <main>
      <h2>Welcome to the online learning page</h2>
      <p></p> 
    </main>
  </body>
</html>
