<!DOCTYPE html>
<html>

<head>
	<title>My Web Page</title>
	<base href="/">
	<link rel="stylesheet" type="text/css" href="CSS/professor.css" />
	<script src="../page.js"></script>
</head>

<body>
	<div class="section" id="lectures">
		<h1>Lectures</h1>
		<p>This section contains information about lectures.</p>
	</div>

	<div class="section" id="labs">
		<h1>Labs</h1>
		<p>This section contains information about labs.</p>
	</div>

	<div class="section" id="results" style="display: none">
		<h1>Results</h1>
		<p>This section contains information about results.</p>
	</div>
	<button id="addSectionBtn">Add Section</button>

</body>

</html>