<!DOCTYPE html>
<html>

<head>
	<title>My Web Page</title>
	<script src="../page.js"></script>
</head>

<body>
	<div class="section" id="lectures">
		<h1>Lectures</h1>
		<p>This section contains information about lectures.</p>
	</div>

	<div class="section" id="labs">
		<h1>Labs</h1>
		<p>This section contains information about labs.</p>
	</div>

	<div class="section" id="results">
		<h1>Results</h1>
		<p>This section contains information about results.</p>
	</div>
</body>

</html>