<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="CSS/welcome.css">
</head>
<body>
  <div class="container">
    <h1>Welcome <%= username %> !</h1>
    <p>You have successfully logged in as a <%= role %>.</p>
  </div>
</body>
</html>
